logicApps/Microsoft Authentication API/azureDeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_GraphAPITokenGenerator_name": {
            "defaultValue": "GraphAPITokenGenerator",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_GraphAPITokenGenerator_name')]",
            "location": "eastus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "request": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "scope": {
                                            "type": "string"
                                        },
                                        "verifyId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Authentication_Code_Variable_Initialise": {
                            "runAfter": {
                                "VerificationID_Variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AuthenticationCode",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "ClientID_Variable": {
                            "runAfter": {
                                "TenantID_Variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ClientID",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "ClientSecret_Variable": {
                            "runAfter": {
                                "ClientID_Variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ClientSecret",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Condition": {
                            "actions": {
                                "HTTP": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "body": "client_id=@{variables('ClientID')}&scope=@{triggerBody()?['scope']}&client_secret=@{variables('ClientSecret')}&grant_type=client_credentials",
                                        "headers": {
                                            "Content-Type": "application/x-www-form-urlencoded"
                                        },
                                        "method": "POST",
                                        "uri": "https://login.microsoftonline.com/@{variables('TenantID')}/oauth2/v2.0/token"
                                    }
                                },
                                "Parse_JSON": {
                                    "runAfter": {
                                        "HTTP": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('HTTP')",
                                        "schema": {
                                            "properties": {
                                                "access_token": {
                                                    "type": "string"
                                                },
                                                "expires_in": {
                                                    "type": "integer"
                                                },
                                                "ext_expires_in": {
                                                    "type": "integer"
                                                },
                                                "token_type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "Set_variable": {
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "AuthenticationCode",
                                        "value": "@body('Parse_JSON')?['access_token']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Authentication_Code_Variable_Initialise": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()?['verifyId']",
                                            "TemporaryVerifyID"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Response": {
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "inputs": {
                                "body": {
                                    "token": "@{variables('AuthenticationCode')}"
                                },
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "statusCode": 200
                            }
                        },
                        "TenantID_Variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "TenantID",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "VerificationID_Variable": {
                            "runAfter": {
                                "ClientSecret_Variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "VerificationID",
                                        "type": "string",
                                        "value": "VerifyID"
                                    }
                                ]
                            },
                            "description": "This can be anything and should be passed along with the POST call"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}
